@using RS.JwtDemo.Core.Models
@model ResponseModel
@{
    ViewData["Title"] = "Service Test";
}

<div class="text-center">
    <h1 class="display-4">Service Test</h1>
    <h5 class="display-4">@Model.Message</h5>
</div>
